
<ion-menu menuId="first-menu" contentId="main-content" *ngIf="user">
    <ion-header>
      <ion-toolbar>
        <ion-title>Studio M&K</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>


<ion-menu side="end" contentId="main-content" *ngIf="user">
    <ion-header>
      <ion-toolbar>
        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-buttons>
            <ion-button *ngIf="user" slot="end" fill="solid" (click)="logout()" size="small">LOGOUT</ion-button>
        </ion-buttons>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start" *ngIf="user">
                <ion-menu-button *ngIf="user" expand="block" (click)="openFirstMenu()"></ion-menu-button>
            </ion-buttons>

            <ion-title slot="start" style="font-weight: normal;">Studio M&K</ion-title>

            <!-- Aqui estão os dois botões a serem trocados pelo terceiro: -->
            <ion-buttons slot="end" [collapse]="true">
                <ion-button *ngIf="!user" slot="end" fill="outline" routerLink="/login" size="small">ENTRAR</ion-button>
                <ion-button *ngIf="!user" slot="end" class="desktop-only" fill="solid" routerLink="/cadastrar" size="small">CADASTRAR</ion-button>

                <ion-menu-button *ngIf="user" size="large" (click)="openEndMenu()">
                    <ion-icon name="person-circle-outline" size="large"></ion-icon>
                </ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" *ngIf="!user">
            
            <ion-row style="height: 35%;" class="centerMain">
                <ion-col size="12" class="center">
                    <h1>HUM, parece que você ainda não tem uma conta :\</h1>
                    <h4>Crie já sua conta para ter acesso aos nossos serviços e PROMOÇÕES ÚNICAS!</h4>
                </ion-col>
            </ion-row>

            <ion-row style="height: 65%;" class="lower">
                <ion-col size="12" class="lowerr">
                    <p>Todos os horarios disponiveis para agendamento em frente a você! Consulte e agende já para fazer seu cabelo, cilios, sobrancelhas e maquiagem. Pague já pelo cartão ou pix.</p>
                </ion-col>
            </ion-row>
    </ion-content>

    <ion-content [fullscreen]="true" *ngIf="user">
            <ion-row style="height: 50%;">

            </ion-row>
            <ion-row style="height: 40%;">
                <ion-col size="3">
                    <ion-card color="dark">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                        <ion-card-header style="height: 60%;">
                          <ion-card-title>Cabelo</ion-card-title>
                          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                        </ion-card-header>
                      
                        <ion-card-content>
                          <ion-buttons>
                            <ion-button color="tertiary" fill="outline">AGENDAR</ion-button>
                          </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card color="dark">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                        <ion-card-header style="height: 60%;">
                          <ion-card-title>Sobrancelha</ion-card-title>
                          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                        </ion-card-header>
                      
                        <ion-card-content>
                          <ion-buttons>
                            <ion-button color="tertiary" fill="outline">AGENDAR</ion-button>
                          </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card color="dark">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                        <ion-card-header style="height: 60%;">
                          <ion-card-title>Cílios</ion-card-title>
                          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                        </ion-card-header>
                      
                        <ion-card-content>
                          <ion-buttons>
                            <ion-button color="tertiary" fill="outline">AGENDAR</ion-button>
                          </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card color="dark">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                        <ion-card-header class="header2" style="height: 60%;">
                          <ion-card-title style="font-size: 1.5rem; font-weight: bold;">Maquiagem</ion-card-title>
                          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                        </ion-card-header>
                      
                        <ion-card-content class="botao">
                          <ion-buttons class="botao">
                            <ion-button color="tertiary" fill="outline" style="width: 30%;">Taís</ion-button>
                            <h3>Ou</h3>
                            <ion-button color="tertiary" fill="outline" style="width: 30%;">Karol</ion-button>
                          </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
    </ion-content>

    <ion-footer [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="end" class="contato">
                <ion-button (click)="redirecionarParaInstagram()" size="large"><ion-icon name="logo-instagram" size="default"></ion-icon></ion-button>
                <ion-button routerLink="" size="large"><ion-icon name="logo-facebook" size="default"></ion-icon></ion-button>
                <ion-button (click)="redirecionarParaWhats()" size="large"><ion-icon name="logo-whatsapp" size="default"></ion-icon></ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</div>
